<div class="container">
  <div class="jumbotron page-header">
    <h1>Tall Tales of Cocktails</h1>
    <blockquote> These are the best damn cocktails that'll ever touch your lips </blockquote>
  </div>

    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-lg-3 col-xs-12 col-sm-4 pad10">
          <div class="card" style="width: 18rem;">
              <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill, :class => "card-image-top" %>
            <div class="card-body">
              <h2 class="card-title"><%= cocktail.name %></h2>
              <%= link_to "Show Cocktail", cocktail_path(cocktail) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>




  <br><br>

  <%= link_to "Add new Cocktail", new_cocktail_path, {class: 'btn btn-primary'} %>
</div>

